.container {
  height: 85%;
  color: aliceblue;
}

i {
  padding-right: 0.6rem;
  padding-bottom: 0.2rem;
  color: aliceblue;
}

.sideBar {
  background-color: darkgray;
}

.content {
  background-color: dimgray;
}

span {
    color: aliceblue;
}
